NODE_ENV=development
DATABASE=mongodb://[username]:[password].@[mongoUrl]:[mongoPort]/[mongoDb]
PORT=7777
SECRET=[secret]
KEY=[key]
DEFAULT_USER=[username]
DEFAULT_PASS=[password]
DAWS_ACCESS_KEY_ID=[aws-key]
DAWS_SECRET_ACCESS_KEY=[aws-access-key]
DAWS_STORAGE_BUCKET_NAME=[aws-bucket]
S3DIRECT_REGION=[aws-region]
